[phases.setup]
nixPkgs = ["php", "nodejs"]

[phases.install]
cmds = [
  "composer install --no-dev --optimize-autoloader",
  "npm install"
]

[phases.build]
cmds = [
  "npm run build"
]

[start]
cmd = "php artisan config:clear && php artisan migrate:fresh --force && php artisan db:seed --force && vendor/bin/heroku-php-apache2 public/"
 